<!DOCTYPE html>
<html>
  <head>
    <title>{% block title%}{% endblock %}
      | Login Page
    </title>
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <form action= "/auth" method="GET">
      Username: <input type = "text" name = "Username"><br>
      Password: <input type = "text" name = "Password"><br>
      <input type = "submit" value="Login">
    </form>
    {% block footer %}
      &copy; Copyright 2018 by <a href="https://github.com/AntonDanylenko">Anton</a>
      and <a href="https://github.com/simont1">Simon</a>.
    {% endblock %}
  </body>
</html>
